section.faculty {
  line-height: 1.3em; }
  section.faculty p.image-block img {
    display: block;
    height: auto;
    max-width: 430px;
    margin: 0 15px;
    @media only screen and (min-width : 320px) {
      margin-left: auto!important;
      margin-right: auto!important;
    }
  }
@media (max-width: 767px) {
  section.faculty p.image-block {
    text-align: center;
    float: none!important;
    overflow: hidden;
    width: 100%;
  }
  section.faculty p.image-block img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
  section.faculty p.hpic1 {
    float: right; }
  section.faculty p.hpic2 {
    float: left; }
  section.faculty p.hpic3 {
    float: right; }
  section.faculty h1 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 2em; }
  section.faculty p {
    font-size: 1.23em;
    margin: 10px 0}
    section.faculty p span {
      font-weight: bold; }
  section.faculty ul.studyways li {
    font-size: 1.23em;
    font-weight: bold;
    text-decoration: dotted;
    line-height: 34px;}
